{% extends 'base.html' %}
<!-- {% load static %} -->
{% block title_block %}
    {{title}}
{% endblock %}
{% block body_block %}
{% load crispy_forms_tags %}


<style>
    
</style>

<div class="p-5">
    <h2>{{email.subject}}</h2>
    <div class="d-flex">
        <p class="ms-1" style="font-size: 15px; margin-top:2px">from {{sendUsername}}</p>
        <p class="ms-1" style="font-size: 13px; margin-top:2px">&#60;{{email.sender}}&#62;</p>
    </div>
    <div class="d-flex">
        <p class="ms-1" style="font-size: 15px; margin-top:2px"></p>to 
            {% if email.receiver == request.user %}
                you
            {% else %}
                {{rcvUsername}}
            {% endif %}
         </p>
        <p class="ms-1" style="font-size: 13px; margin-top:2px">&#60;{{email.receiver}}&#62;</p>
    </div>
    <div>
        <p>
            {{email.message}}
        </p>
    </div>
</div>

{% endblock %}

{% block script_block %} 

<script>
     
</script>

{% endblock %}