{% extends 'base2.html' %}
<!-- {% load static %} -->

{% block title_block %}
    {{title}}
{% endblock %}

{% block body_block %}
{% load crispy_forms_tags %}


<style>
    :root {
    --brand-color: #51B473; 
    /* --brand-color: #D6C41F;  */
}
.brand-color {
  color: var(--brand-color);
}

html, body {
  height: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}
.sectionForm{
  position: relative;
  min-height: 100%;
  background-color: var(--brand-color);
}
.sectionForm>.sectionCard {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 25rem;
}


input{
  margin-bottom: 15px !important;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px 10px;
  
}

.signupBtn {
  border: 1px solid var(--brand-color);
  border-radius: 30px;
}

.signupBtn:hover{
  background-color: var(--brand-color);
  color: #fff;
}

.switch {
  font-size: 13px;
}
.passCheck {
    font-size: 13px;
    color: red;
    padding: 0px;
    margin: 0;
    text-align: start;
}
</style>

<section class="sectionForm">
    <div class="sectionCard">
        <div class="card" style="height: 20rem;">
            <div class="border text-center py-3">
                <h5 class="card-title brand-color">Signup</h5>
            </div>

            <div class="card-body text-center pt-3 px-4">
                <form id="signupForm" class="d-flex flex-column mb-4" action="">
                  {% csrf_token %}
                    <input type="email" id="inputEmail" name="email" placeholder="example@gmail.com" required>
                    <input type="password" id="inputPassword" name="password" placeholder="password" required>
                    <input type="password" id="inputConfPassword" name="confPassword" placeholder="confirm password" required>
                </form>
                <a href="#" id="signupBtn" class="btn signupBtn px-5">Signup</a>
                <p class="switch">Have a account
                    <a href="/login" class="text-decoration-underline text-primary">
                        Login
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>




{% endblock %}

{% block script_block %} 

   <script>
    document.getElementById("signupBtn").addEventListener("click", async () => {

          if(document.getElementById("inputEmail").value.length == 0){
              document.getElementById("inputEmail").style.borderColor = "red";
              return;
          }
          else{
              document.getElementById("inputEmail").style.borderColor = "#ced4da";
          }
          if(document.getElementById("inputPassword").value.length == 0){
              document.getElementById("inputPassword").style.borderColor = "red";
              return;
          }
          else{
              document.getElementById("inputPassword").style.borderColor = "#ced4da";
          }
          if(document.getElementById("inputConfPassword").value.length == 0){
              document.getElementById("inputConfPassword").style.borderColor = "red";
              return;
          }
          else{
              document.getElementById("inputConfPassword").style.borderColor = "#ced4da";
          }
          var pass = document.getElementById("inputPassword").value;
          var confPass = document.getElementById("inputConfPassword").value;
          if(pass != confPass){
             alert("password not match!!!");
             return; 
          }


          var frm = new FormData(document.getElementById("signupForm"));
          // frm.forEach(element => {
          //     console.log(element);
          // });

          var data = await fetch('/signup/insert', {
              method: 'post',
              body: frm
          });

          var res = await data.json();
          console.log(res.ret_data);
          if(res.ret_data == "false"){
              alert("user already exists!!!");
          }else{
            window.location.href = "/login";
          }
          
          // if(res[0].ret_val > 0 && res[0].user_id > 0 && res[0].ret_val == res[0].user_id){
          //     window.location = `/petbazaar/login`;
          // }

  });    
  </script>

{% endblock %}